{% extends "templade.html" %}

{% block main %}
      
                             
                     
    
    
    <section class="card m-5">
        <div  class="alert alert-{{message.type}}" role="alert" >
            <strong>{{message.intro}}</strong>{{message.message}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <header class="card-header">
          
            <h3> Forma de Pagamentos</h3>
        </header>
        <div class="card-body">
            <a href="/forma/adicionar" class="btn btn-primary m-1">Adicionar</a>
            <table class="table">
                
                <thead>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    
                    {% for forma in formas %}
                   <tr>
                       <td >{{forma.id}}</td>
                       <td>{{forma.descricao}}</td>
                       <td>
                          
                        
                            <a href="/editar-categoria" class="blue">
                                <div  class="material-icons md-36">create</div> 
                               
                             </a>
                             
                             
                            <a   class="red"   id="{{forma.id}}">
                               
                                <div  class="material-icons md-36">delete_forever</div> 
                               
                             </a>

                            </td>
                   </tr>
                   {% else %}
                    <div class="alert alert-dark" role="alert">Nenhun Registro!!!</div>
                  {% endfor %}  
                    

                </tbody>
            </table>
            
    </section>

                                           <!-- Modal -->
     <div class="modal fade" id="modalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title"  id="exampleModalLabel">Excluir Categoria</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="text-white">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Tem Certeza que deseja apagar está categoria !!! 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
             
          <a  id="btnDelteYes"   ><button  type="button" class="btn btn-danger">Deletar</button> 
          
          </div>
        </div>
      </div>
    </div>

            </div>
      
              <script src="/js/forma_modal.js"></script>
{% endblock%}